#weatherApp {
    /* height: 880px; */
    aspect-ratio: 16 / 7.4;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 80px;
    flex-direction: column;
    background-image: url(./backgrounds/final-background-export.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}


#appContainer {
    height: 68%;
    padding-top: 1%;
    width: 42.03%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 10px;
    gap: 10px;
}

#top-box {
    padding-top: 7%;
    width: 83.35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#top-box p{
    margin: 0px;
    color: rgb(251,211,122);
    font-size: calc(64px)
}

#search {
    width: 35%;
    height: 30px;
    border-radius: 10px;
    border: 0px;
    text-align: center;
    margin-top: 10px;
    background-color: rgb(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#currentWeather {
    height: 93px;
    width: 83%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
}




#currentWeather img {
    height: 150px;
    width: 150px;
}

#currentWeatherTextBox p{
    margin: 10px 0px;
}

#textTodayCurentWeather {
    font-size: 24px;
}

#currentLocation {
    font-weight: bold;
    font-size: 48px;
}

#currentTemperature {
    padding-top: 50px;
    font-size: 28px;
    color: rgb(251,211,122);

}

.futureForecastCard {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
}

.forecastTemp {
    font-weight: 500;

}


#forecast {
    padding-right: 74px;

    border-radius: 10px;
    display: flex;
    gap: 9px;
    /* justify-self: end; */
    /* align-self: baseline; */
    margin-top: auto;
}

#forecast img{
    height: 50px;
    width: 50px;
}

#forecast p{
    margin: 3px 0px;
}


@media screen and (max-width:1366px){

    #appContainer {
        height: 64%;
    }

    #top-box {
        padding-top: 5%;
        width: 83.35%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #top-box p{
        margin: 0px;
        color: rgb(251,211,122);
        font-size: 40px
    }

    
    #currentTemperature {
    padding-top: 0px;
    font-size: 21px;
    color: rgb(251,211,122);

    }

    #currentWeather img {
    height: 100px;
    width: 100px;
    padding-bottom: 7%;
    padding-left: 1%;
    }

    #forecast {
        padding-right: 10%;
        border-radius: 10px;
        display: flex;
        gap: 3px;
        margin-top: auto;
    }

    .futureForecastCard {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60px;
        font-size: 10px;
    }
}


