#projectSection {
    aspect-ratio: 16 / 7.4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/background-projects.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

#projectSection h1 {
    color: white;
    font-size: 48px;
    padding-right: 35px;
}

#mainContainerProjects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 100px;
    padding-right: 35px;
    padding-bottom: 193px;
}

#img-box {
    display: flex;
    align-items: center;
    height: 500px;
    padding-top: 76px;
    padding-left: 2px;
}

img {
    height: 355px;
    width: 542px;
    border-radius: 5px;
    border-radius: 10px
    /* display: none; */
}

button {
    font-size: 30px;
    background-color: rgba(103, 103, 180, 0.3);
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
}

@media screen and (max-width:1366px) {
    #projectSection {
        height: 718px;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
    }
    #projectSection h1 {
        font-size: 36px;
        padding-right: 35px;
        margin: 0px;
    }

    #mainContainerProjects {
        width: 49%;
        height: 35%;
        gap: 100px;
        padding: 0% 1.9% 13.5% 0%;
    }

    img {
        height: 25vh;
        width: 100%;
        border-radius: 5px;
        border-radius: 10px
    }

    #img-box {
        display: flex;
        align-items: center;
        height: 100%;
    }

    button {
        font-size: 30px;
        background-color: rgba(103, 103, 180, 0.3);
        color: white;
        margin-top: 80px;
        padding: 4px 8px;

    }
    
}