.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

body {
  margin: 0px;
  width: 100%;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  background: #1a1e23;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#main {
  height: 669px;
}


nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  gap: 30px;
  /* background-color: black; */
  height: 80px;
  text-align: center;
  line-height: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo-name {
  display: flex;
  color: white;
  /* font-size: 25px; */
  padding-left: 35px;
}

#logo-name a {
  font-size: 25px;
  font-weight: bold;
}

#navigation {
  display: flex;
  justify-content: right;
  padding-right: 30px;
  gap: 20px;
  font-size: 15px;
  align-items: center;
}


nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}


nav a:hover {
  color: #7867b4;
  transition-duration: 0.2s;
  cursor: pointer;
  border-bottom: 2px solid #7867b4;
}

footer {
  height: 200px;
  background-color: #0f1819;
  color: white;
  display: flex;
  justify-content: center;
}

#footer-div {
  width: 1248px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#top-of-footer {
  width: 1248px;

  display: flex;
  justify-content: space-between;
}

#about-me {
  width: 400px;
}

#copyrights {
  border-top: 1px solid white;
  /* border-top-color: aliceblue; */
  width: 1248px;
  text-align: center;
}

#icons {
  display: flex;
  font-size: 20px;
  gap: 10px;
  text-decoration: none;
  color: white;
}

#icons a {
  text-decoration: none;
  color: white;
}

#copyrights a {
  text-decoration: none;
  color: white;
}

#copyrights a:hover {
  cursor: pointer;
  color: #7867b4;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  color: white;
  gap: 10px;
}

.namesBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  gap: 5px;
  flex-wrap: wrap;
  width: 250px;
}

.namesBox div {
  width: 80px;
  background-color: #464d5a;
  border-radius: 10px;
  height: 80px;
  line-height: 80px;
}

.namesBox div:hover{
  opacity: 0.9;
  cursor: pointer;
}

button {
  width: 5%
}

#flipper {
  display: flex;
  gap: 30px;
  align-items: center;
}

#card {
  width: 300px;
  height: 200px;
  background-color: #464d5a;
  line-height: 200px;
  font-size: 48px;
}

#flipper button {
  width: 50px;
  height: 20px;
}
